@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(165, 100%, 41%);
  --primary-color-light: hsl(165, 69%, 65%);
  --primary-grey-color: #6c757d;
  --search-bar-color: #fff;
  --search-bar-font-color: #6c757d;
  --search-bar-border-color: rgba(235, 233, 233, 0.418);
  --night-background: #161625;
  --night-background-light: #1e1e30;

  --notification-background-color: #f3f4f4;
  --notification-primary-title: rgba(0, 123, 255, 0.815);
  --notification-panel-color: #e6e7e7;
  --notfication-timestamp-color: rgb(122, 121, 121);
  --notification-update-color: rgba(4, 98, 199, 0.904);

  --home-primary-title-color: #ff952b;
  --home-primary-title-background-color: #ff993349;
  --state-detail-title-color: #9966ff;
  --state-detail-title-background-color: #9966ff31;

  --cards-active-color: rgba(0, 123, 255, 0.815);
  --cards-active-color-light: rgba(0, 123, 255, 0.615);

  --delta-switch-color1: #ccc;
  --delta-switch-color2: #2196f3;
  --delta-switch-slider-color: white;

  --data-color: #f3f4f4;
  --data-hover-color: #e8e8e9;
  --header-color: #dddede;
  --header-hover-color: #dddede;
  --table-font-color: black;

  --table-night-color: rgb(108, 117, 125);

  --covid-logo-color: #9966ff;
  --icon-search-bar: #596168;
  --icon-bell-color: #3399ff;
  --icon-moon-color: #8c1aff;
  --icon-sun-color: #ffbc05;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
}

.App {
  transition: all 0.5s;
}

.App.night {
  background: var(--night-background);
  transition: all 0.5s;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-auto {
  margin-right: auto;
}

.ml-10 {
  margin-left: 10px;
}

/* Animations */

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
