@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
}

.App {
  --primary-color: rgba(0, 123, 255, 0.815);
  --primary-color-light: hsl(165, 69%, 65%);
  --primary-grey-color: #6c757d;
  --search-bar-color: #fff;
  --search-bar-font-color: #6c757d;
  --search-bar-border-color: rgba(235, 233, 233, 0.418);
  --primary-background-color: #fff;
  --primary-background-light: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
  --primary-text-color: black;
  --primary-hover-color: #f3f4f4;
  --list-background-color: #ffffff;

  --header-color: #dddede;
  --header-hover-color: #dddede;
  --cell-background: #f3f4f4;
  --table-night-color: rgb(108, 117, 125);
}

.App.night {
  --primary-color: hsl(165, 100%, 41%);
  --primary-color-light: hsl(165, 69%, 65%);
  --primary-grey-color: #6c757d;
  --search-bar-color: #fff;
  --search-bar-font-color: #6c757d;
  --search-bar-border-color: rgba(235, 233, 233, 0.418);
  --coinDashBoard-background: #1e1e30;
  --primary-background-color: #161625;
  --primary-background-light: #1e1e30;
  --primary-text-color: rgb(108, 117, 125);
  --primary-hover-color: #1e1e30;
  --list-background-color: #1e1e30;

  --header-color: #1e1e30;
  --header-hover-color: #dddede;
  --cell-background: #1e1e30;
}

.App {
  background: var(--primary-background-color);
  transition: all 0.5s;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-auto {
  margin-right: auto;
}

.ml-10 {
  margin-left: 10px;
}

/* Animations */

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
